*~
/.sconsign.dblite
*.o
/exprtk_sqrt_newton_raphson
exprtk_sqrt_newton_raphson
abbrev
arrayDecay
arrayTest
async
asyncDatetimeServer
backInserterEquiv
baseTest
bindExample
bindFun
boostRefCountExample
boost_shared_memory
chatServer
cherryPick
complex_test
condition
constVec
copy_test
crtp
crtp2
daytimeClient
daytimeServer
destructor
destructure
doit
dynclass
echoServer
ecpp2
ecpp4
elision
erasure
except
exceptions
exper
fileSystem
filesystemExperiment
finalizer
foldExpression
foo
forwarding
forwarding2
funcStuff
functors
google
hammer
helloWorld
initList
intraProcessPingPong
jen
knightTour
knightTour2
lambdaTemplate
lfq
lineReader
lockExperiment
logExperiment
maptest
marketDataExample
memfunStuff
move
moveCapture
moveTest2
moveTest3
mutabletest
myPromise
myers
myers2
noexcept
nomove
optimizer
overload
overloaded
owner
packFun
parameterPack
periodic
pmf
pointerFun
polygon
printTest
property_tree
rdtsc
read_a_file
read_until_example
relations
rose
scopeExperiment
selectif
sfinae
sfinae2
shared_lock
sink
socketServer
socketServer2
stairs
stdalign
streambuf_example
stringReverse
stringReverse2
stringTest
synctimer
tcpclient
testPrettyPrint
testb
threadTest
timer
tmp
traits
transform
transform2
transform3
transform_test
tupleFun
tupleInit
tupple
twonk
variadic
vectorCast
vector_test
vectorfun
virtualExperiment2
active_object
epoll_example
jsonExample
mpmcSanity
ping
pong
queue_test
sharedFromThisTest
testMpmc
testRateTimer
tradeClientMain
tradeReader
tradeServerMain
tradeSourceImpl
vwapNetworkClient
xcbexample

/compile_commands.json
/bin/
/.cache/
/sqrt.os
/build/
